body {
  margin: 20px; }

.home {
  width: 100%;
  height: 100%; }

.content {
  background-color: #efefef;
  border-radius: 3px;
  max-width: 600px;
  min-width: 400px;
  margin: 0 auto; }

.home-controller {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  padding: 15px; }
  .home-controller .app-id-key {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    font-size: 17px; }

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden; }

.converter .from h4, .converter .to h4 {
  text-align: left; }

.converter .currency-amount {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 17px; }
