<div ng-controller='HomeController' class='home-controller'>

  <h2>Exchange Rate Converter</h2>

  <form ng-submit='addAppId()'>
    <input type='text' ng-model='appid' class='app-id-key lead' placeholder='App ID' ng-change='addAppId()'>
    <input type="submit" style='display: none;'>
  </form>

  <div id="error-length" ng-if="errorAppIDLength">
    <h4>Please Enter an App ID.</h4>
  </div>

  <div id="error-invalid" ng-if="errorAppIDInvalid">
    <h4>Your App ID is invalid.</h4>
  </div>

  <div ui-view='converter'></div>

</div>
