<div ng-controller='ConverterController' class='converter'>

  <div class="from">
    <h4>Currency</h4>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ currencySelected }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1" role="menu">
        <li ng-repeat="(key, value) in currencies"><a href="#" ng-click="setCurrency(value)">{{ key }} | {{ value }}</a></li>
      </ul>
    </div>

    <form ng-submit='convertAmount()' class='currency-amount'>
      <input type='text' ng-model='currencyAmount' placeholder='0' ng-change='validateCurrencyAmount()'>
      <input type="submit" style='display: none;'>
    </form>

  </div>

  <div class="to">
  </div>

</div>

<!--
● From Currency (drop-down list, required)
● From Currency value (input, required)
● To Currency (drop-down list, required)
● To Currency value (input, readonly) -->
